@charset "UTF-8";
:root {
  --section-gap: 18rem;
  --section-gap-inner: calc( var(--seciton-gap) * 0.75 )
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 15px;
  --color-dark: #000;
  --color-dark-200: #333;
  --color-dark-300: #444;
  --color-dark-500: #888;
  --color-dark-600: #999;
  --color-dark-700: #b5b5b5;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1;
  --color-accent: #009fbb;
  --color-accent-200: #009fbb;
  --color-accent-300: #009fbb;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: #fff;
  --color-light-200: #efead8;
  --color-light-300: #efead8;
  --color-light-400: #efead8;
  --color-light-500: #efead8;
  --color-light-600: #efead8;
  --color-light-700: #efead8;
  --color-light-800: #efead8;
  --color-light-900: #efead8;
  --font-sans: "futura-pt", sans-serif;
  --font-serif: "Georgia", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1.75rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale));
  --font-size-3: calc( var(--font-size-2) * var(--font-scale));
  --font-size-4: calc( var(--font-size-3) * var(--font-scale));
  --font-size-5: calc( var(--font-size-4) * var(--font-scale));
  --font-size-6: calc( var(--font-size-5) * var(--font-scale));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

.site-header {
  position: static;
  z-index: 999;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 32px;
}
.site-header__img {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.site-header__popup {
  width: 350px;
  display: none;
}
.site-header__popup--visible {
  display: flex;
}
.site-header__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-m);
}
.site-header__list :hover {
  color: #888;
  transform: skew(-5deg);
}
.site-header__item {
  font-family: var(--font-sans);
  list-style: none;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-button {
  height: 26px;
  width: 26px;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.menu-button--close .menu-button__hamburger {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
}
.menu-button--close .menu-button__hamburger:before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(90deg);
  top: 0;
}
.menu-button--close .menu-button__hamburger:after {
  transition: width 0.2s;
  width: 0;
}
.menu-button__hamburger {
  transform-origin: left top;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-50%, -50%) rotate(0);
  background-color: var(--color-dark);
}
.menu-button__hamburger:before, .menu-button__hamburger:after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  height: 1px;
  width: 100%;
  background-color: inherit;
}
.menu-button__hamburger:before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.menu-button__hamburger:after {
  top: 8px;
  width: 70%;
  transition: width 0.2s 0.2s;
}

.footer {
  background-color: #000;
  height: 250px;
  width: 100%;
  margin-top: var(--section-gap);
}
.footer__content {
  margin: auto;
  height: 100%;
  max-width: 600px;
  position: relative;
}
.footer__content--socials .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__content--socials .wrapper a {
  margin-top: 80px;
  color: white;
  font-size: 30px;
}
.footer__content--socials .wrapper .twitter:hover {
  color: #46c1f6;
}
.footer__content--socials .wrapper .facebook:hover {
  color: #3b5999;
}
.footer__content--socials .wrapper .instagram:hover {
  color: #e1306c;
}
.footer__content--socials .wrapper .github:hover {
  color: #2DA44E;
}
.footer__content--socials .wrapper .linkedin:hover {
  color: #0A66C2;
}
.footer__content--copyright {
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  color: #fff;
  width: 100%;
  font-family: "futura-pt", sans-serif;
  font-size: 20px;
}

.hero {
  position: relative;
}
.hero__inner {
  height: 800px;
}
.hero__inner--title {
  font-family: "cheap-pine";
  font-weight: 400;
  margin: auto;
  text-align: center;
  font-size: 12rem;
  top: 250px;
}
.hero__subtitle {
  text-align: center;
  font-family: "futura-pt";
  font-size: 34px;
  width: 100%;
}
.hero__language {
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

.language__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  list-style: none;
}
.language__list li {
  width: 100px;
  font-size: 1.5rem;
  text-align: center;
}

.item-orange, .item-blue, .item-pink, .item-yellow {
  position: relative;
  text-align: left;
}

.item-orange::before {
  content: "●";
  color: #E34C26;
  position: absolute;
}

.item-blue::before {
  content: "●";
  color: #24298D;
  position: absolute;
}

.item-pink::before {
  content: "●";
  color: #C6538C;
  position: absolute;
}

.item-yellow::before {
  content: "●";
  color: #F1E05A;
  position: absolute;
}

@media screen and (max-width: 658px) {
  .hero__subtitle {
    font-size: 24px;
    top: 380px;
  }
}
@media screen and (max-width: 535px) {
  .hero__inner--title {
    font-size: 8rem;
  }
}
.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: var(--section-gap);
}
.meta-title {
  font-family: "cheap-pine";
  font-size: 76px;
  color: #000;
  font-weight: 400;
  margin-bottom: 0;
}
.meta-text {
  max-width: 700px;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 28px;
}
.meta-button {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: none;
  padding: 0 var(--gap-s);
  border: none;
  cursor: pointer;
}
.meta .meta-button:hover {
  color: #888;
  transform: skew(-5deg);
}
.meta__socials {
  margin-top: 4rem;
  font-size: 36px;
  width: 400px;
  text-align: center;
  border-bottom: 4px solid #000;
  display: none;
  visibility: hidden;
}
.meta__socials--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meta__socials--wrapper .facebook:hover {
  color: #3b5999;
}
.meta__socials--wrapper .twitter:hover {
  color: #46c1f6;
}
.meta__socials--wrapper .instagram:hover {
  color: #e1306c;
}
.meta__socials--wrapper .github:hover {
  color: #2DA44E;
}
.meta__socials--wrapper .linkedin:hover {
  color: #0A66C2;
}
.meta .meta__socials--visible {
  display: block;
  visibility: visible;
}

@media screen and (max-width: 658px) {
  .meta-text {
    font-size: 20px;
    padding: 0 2rem;
  }
}
.swiper {
  position: relative;
  margin-top: var(--section-gap);
  width: 80%;
  max-width: 1200px;
  height: 500px;
  margin-top: var(--section-gap);
}
.swiper-pagination-bullet {
  background-color: #000;
}
.swiper-button-next, .swiper-button-prev {
  color: #000;
}
.swiper-visitpage {
  position: absolute;
  background: none;
  border: none;
  bottom: 50px;
  right: 0;
  margin-right: 180px;
  font-family: "futura-pt";
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.swiper .swiper-visitpage:hover {
  color: #888;
  transform: skew(-5deg);
}

.swiper-slide1, .swiper-slide2, .swiper-slide3, .swiper-slide4, .swiper-slide5, .swiper-slide6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 125px;
}
.swiper-slide1-project, .swiper-slide2-project, .swiper-slide3-project, .swiper-slide4-project, .swiper-slide5-project, .swiper-slide6-project {
  border-radius: 50%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
}
.swiper-slide1-project-text, .swiper-slide2-project-text, .swiper-slide3-project-text, .swiper-slide4-project-text, .swiper-slide5-project-text, .swiper-slide6-project-text {
  max-width: 550px;
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-size: 20px;
}

.swiper-slide2-project {
  object-position: 12%;
}

.swiper-slide3-project {
  object-position: 95%;
}

.swiper-slide6-project {
  object-position: 10%;
}

@media screen and (max-width: 1024px) {
  .swiper-slide1-project-text,
  .swiper-slide2-project-text,
  .swiper-slide3-project-text,
  .swiper-slide4-project-text,
  .swiper-slide5-project-text,
  .swiper-slide6-project-text {
    text-align: center;
  }
  .swiper-visitpage {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .swiper-slide1-project,
  .swiper-slide2-project,
  .swiper-slide3-project,
  .swiper-slide4-project,
  .swiper-slide5-project,
  .swiper-slide6-project {
    max-width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 658px) {
  .swiper-slide1-project-text,
  .swiper-slide2-project-text,
  .swiper-slide3-project-text,
  .swiper-slide4-project-text,
  .swiper-slide5-project-text,
  .swiper-slide6-project-text {
    font-size: 10px;
  }
}
@media screen and (max-width: 535px) {
  .swiper-slide1-project-text,
  .swiper-slide2-project-text,
  .swiper-slide3-project-text,
  .swiper-slide4-project-text,
  .swiper-slide5-project-text,
  .swiper-slide6-project-text {
    display: none;
  }
  .swiper-slide1-project,
  .swiper-slide2-project,
  .swiper-slide3-project,
  .swiper-slide4-project,
  .swiper-slide5-project,
  .swiper-slide6-project {
    position: absolute;
    left: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
