.meta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--section-gap);

    &-title {
        font-family: 'cheap-pine';
        font-size: 76px;
        color: #000;
        font-weight: 400;
        margin-bottom: 0;
    }

    &-text {
        padding: 0 400px 0 400px;
        text-align: center;
        font-family: 'futura-pt', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #000;
        font-size: 28px;
    }
    
    &-button {
        font-family: 'futura-pt', sans-serif;
        font-weight: 700;
        font-size: 24px;
        background: none;
        padding: 0 var(--gap-s);
        border: none;
        cursor: pointer;
    }

    .meta-button:hover {
        color: #888;
    }

    &__socials {
        margin-top: 4rem;
        font-size: 36px;
        width: 400px;
        text-align: center;
        border-bottom: 4px solid #000;
        display: none;
        visibility: hidden;

        &--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .facebook:hover {
                color: #3b5999;
            }

            .twitter:hover {
                color: #46c1f6;
            }

            .instagram:hover {
                color: #e1306c;
            }

            .github:hover {
                color: #2DA44E;
            }

            .linkedin:hover {
                color: #0A66C2;
            }
        }
    }

    .meta__socials--visible {
        display: block;
        visibility: visible;
    }


   
}




