.swiper {
  position: relative;
    margin-top: var(--section-gap);
    width: 80%;
    max-width: 1200px;
    height: 500px;
    margin-top: var(--section-gap);



    &-pagination-bullet {
      background-color: #000;
    }

    &-button-next, &-button-prev {
      color: #000;
    }

    &-visitpage {
      position: absolute;
      background: none;
      border: none;
      bottom: 50px;
      right: 0;
      margin-right: 180px;
      font-family: 'futura-pt';
      font-weight: 700;
      font-size: 1rem;
      cursor: pointer;
    }

    .swiper-visitpage:hover {
      color: #888;
      transform: skew(-5deg);
    }
  }


  .swiper-slide1, .swiper-slide2, .swiper-slide3, .swiper-slide4, .swiper-slide5, .swiper-slide6 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 125px;      
      
      
      &-project {
        border-radius: 50%;
        max-width: 300px;
        height: 300px;
        object-fit: cover;
       
            &-text {
                max-width: 550px;
                text-align: left;
                font-family: 'futura-pt', sans-serif;
                font-size: 20px;
            }

    } 

  }

  .swiper-slide2-project {
    object-position: 12%;
  }
  .swiper-slide3-project {
    object-position: 95%;
  }
  .swiper-slide6-project {
    object-position: 10%;
  }
  
  @media screen and ( max-width: 1024px ) {
    .swiper-slide1-project-text, 
    .swiper-slide2-project-text, 
    .swiper-slide3-project-text, 
    .swiper-slide4-project-text, 
    .swiper-slide5-project-text, 
    .swiper-slide6-project-text {
        text-align: center;
    }
    
    .swiper-visitpage {
      margin-right: 0;
    }
}

  @media screen and ( max-width: 768px ) {
    .swiper-slide1-project, 
    .swiper-slide2-project, 
    .swiper-slide3-project, 
    .swiper-slide4-project, 
    .swiper-slide5-project, 
    .swiper-slide6-project {
      max-width: 150px;
      height: 150px;
    }

}

@media screen and ( max-width: 658px ) {
  .swiper-slide1-project-text, 
  .swiper-slide2-project-text, 
  .swiper-slide3-project-text, 
  .swiper-slide4-project-text, 
  .swiper-slide5-project-text, 
  .swiper-slide6-project-text {
    font-size: 10px;
  }
}

@media screen and ( max-width: 535px ) {

  .swiper-slide1-project-text, 
  .swiper-slide2-project-text, 
  .swiper-slide3-project-text, 
  .swiper-slide4-project-text, 
  .swiper-slide5-project-text, 
  .swiper-slide6-project-text {
    display: none;
  }

  .swiper-slide1-project, 
  .swiper-slide2-project, 
  .swiper-slide3-project, 
  .swiper-slide4-project, 
  .swiper-slide5-project, 
  .swiper-slide6-project {
    position: absolute;
    left: 35%;
  }
}